body {
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: #f7f7f7;
}
#wrapper {
    width: 80vw;
    margin: auto;
}
h1 {
    font-size: 4vw;
    text-align: center;
}
form {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
p {
    display: inline-block;
    margin: 1vw;
}
select, input {
    margin: 0 0.1vw;
    font-size: 2vw;
    color: black;
    border: 2px solid black;
    transition: border-color 200ms;
}
select:nth-child(2) {
    width: 30vw;
}
select:nth-child(3) {
    width: 10vw;
}
input[type=number] {
    padding: 0 2px 1px 2px;
    width: 4vw;
}
input[type=button] {
    margin-left: 0.5vw;
}
select:focus, select:hover, input[type=number]:hover, input[type=number]:focus, input[type=button]:focus {
    border-color: #7c7c7c;
    outline: none;
}
input[type=button]:hover {
    cursor: pointer;
}
#heading {
    box-sizing: border-box;
    padding-right: 1vw;
    margin-top: 10vh;
    font-weight: bold;
    font-size: 1.3vw;
}
#heading div {
    width: 10vw;
    margin: 0.1vw 0;
    border-bottom: 1px solid black;
}
#outputBox {
    font-size: 1vw;
    overflow-y: scroll;
    height: 40vh;
}
#outputBox div, #heading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#outputBox div div {
    width: 10vw;
    margin: 0.1vw 0;
}